.premiumContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #9ca3af;
  margin-bottom: 50px;
}

.plans {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.plan {
  flex: 1;
  background: #0f172a;
  border: 1px solid white;
  border-radius: 12px;
  padding: 30px 20px;
  color: white;
  text-align: left;
}

.planName {
    color: white;
    background: transparent;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: .7rem;
    font-weight: 100;
    display: inline-block;
    border: .5px solid white;
}

.price {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top:0;
}

.price span {
  font-size: 1rem;
  color: #9ca3af;
}

.btn {
  display: inline-block;
  margin: 15px 0 25px 0;
  padding: 10px 20px;
  border-radius: 8px;
  background: #22c55e;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border:none;
  text-decoration: none;
}

.btn:hover {
  background: rgba(34, 197, 94, 0.1);
}

.btnPrimary {
  background: #22c55e;
  color: white;
  border: none;
}


.features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features li {
  margin-bottom: 10px;
  font-size: 0.95rem;
  color: #d1d5db;
}

.check {
  color: #22c55e;
  font-weight: bold;
  margin-right: 6px;
}

.featured {
  border: 2px solid #22c55e;
  box-shadow: 0 0 15px rgba(34, 197, 94, 0.3);
}

/* Responsive */
@media (max-width: 900px) {
  .plans {
    flex-direction: column;
    gap: 30px;
  }



  .features li {
    text-align: left;
  }
}


/* Modal Styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background: #0f172a;
  padding: 40px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  position: relative;
  color: white;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
